body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mainBox {
  width: 100%;
  height: auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}

.innerBox {
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
  width: 50%;
  padding: 30px 40px;
}

.hd1 {
  font-size: 23px;
  font-weight: 600;
}
.hd2 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 2px;
  color: gray;
}
.fa-star {
  color: goldenrod;
  font-size: 11px;
  margin-bottom: 20px;
}

.nextDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.progresbars {
  width: 100%;
  position: absolute;
  top: -13px;
  height: 25px;
  border-radius: 0;
}
.nextDiv button {
  background-color: transparent;
  padding: 13px;
  border: 1px solid #454545;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}

.nextDiv button:hover {
  background-color: rgb(109, 109, 210);
  color: #fff;
  border-color: rgb(109, 109, 210);
  font-weight: 600;
}
.selectButton {
  border: 1px solid rgb(37, 37, 37);
  background-color: transparent;
  border-radius: 3px;
  color: #5a5a5a;
  background: transparent;
  width: 40%;
  float: left;
  margin: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
}
.selectButton:hover {
  background-color: #000;
  color: #fff;
  font-weight: 600;
}

.loaderDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

.error {
  font-size: 16px;
  font-weight: 500;
  margin-top: 11px;
  display: block;
  margin-bottom: 15px;
  color: rgb(158, 0, 0);
}

.correct {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgb(37 220 37);
  display: block;
}
.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
